
#GridCont2 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    height: 150px;
    gap: 50px; /* Espaço entre os blocos */
    padding: 20px;
    
}

.Naipe {
    background-color: #FFDAC1; /* Laranja-rosa claro */
    border-radius: 10px; /* Cantos ligeiramente arredondados */
    border: #f06203 solid 5px;
    padding: 70px;
    gap: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para destaque */
    text-align: center; /* Centraliza o texto */
    transition: transform 0.3s; /* Animação ao passar o mouse */
    height: 250px;
     /* Limita a largura máxima para 1080px */
    max-height: 280; /* Limita a altura máxima para 1920px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Efeito hover para interação */
 .Naipe:hover {
    background-color: #f6863b; 
}
.intern{
    display: flex;
    gap: 200px;
}



.Circle{
    display: flex;
    border: #4cc260 solid 4px;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 30vw;
    max-width: 150px; /* Limita a largura máxima para 1080px */
    max-height: 150px; /* Limita a altura máxima para 1920px */
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    font-size: 50px;
    font-weight: bolder;
}

.Circle:hover {
    transform: scale(1.20); /* Aumenta ligeiramente o bloco ao passar o mouse */
    cursor: pointer;
}

.Title2
{
    width: 100;  /* Ajusta a largura para 100% da tela do dispositivo */
    height: 100vh; /* Ajusta a altura para 100% da tela do dispositivo */
    max-width: 1080px; /* Limita a largura máxima para 1080px */
    max-height: 200px; /* Limita a altura máxima para 1920px */
    margin: 0 auto; /* Centraliza horizontalmente em telas maiores */
    background-color: rgb(248, 30, 30);
    color: aliceblue;
    font-weight: bolder;
    padding-left: 30%;
    padding-right: 30%;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Lucida Sans';


     border-radius: 20px;
     border: #4cc260 5px solid;
    

}

.Title3
{
    width: 100;  /* Ajusta a largura para 100% da tela do dispositivo */
    height: 100vh; /* Ajusta a altura para 100% da tela do dispositivo */
    max-width: 1080px; /* Limita a largura máxima para 1080px */
    max-height: 200px; /* Limita a altura máxima para 1920px */
    margin: 0 auto; /* Centraliza horizontalmente em telas maiores */
    background-color: rgb(42, 38, 38);
    font-weight: bolder;
    padding-left: 40%;
    padding-right: 40%;
    font-size: 60px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Lucida Sans';



     border-radius: 20px;
     border: #4cc260 5px solid;
    

}

#Paus
{
    background-image: url("./Paus.png");
    background-size: cover;
    background-position: center;
}

#Espa
{
    background-image: url("./Espa.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
}

#Ouro
{
    background-image: url("./Ouro.png");
    
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 130px;
    background-position: center;
}

#Copa
{
    background-image: url("./Copa.png");
    
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 105px;
    background-position: center;
    background-position: 20px 35px;
}

#Voltar
{
    background-color: darkblue;
}


#Voltar:hover
{
    background-color: rgb(18, 18, 38);
    cursor: pointer;
    transform: scale(1.1);
}


